Repository sullog-official/sullog-server, pull requests merged in 2023-03, with the labels that each got.

#11 feat: 예외 핸들링 관련 로직 구조 잡기
  backend/src/main/java/sullog/backend/alcohol/error/AlcoholControllerAdvice.java
  backend/src/main/java/sullog/backend/alcohol/error/exception/AlcoholException.java
  backend/src/main/java/sullog/backend/common/error/CommonControllerAdvice.java
  backend/src/main/java/sullog/backend/common/error/ErrorCode.java
  backend/src/main/java/sullog/backend/common/error/exception/CommonException.java
  backend/src/main/java/sullog/backend/member/error/MemberControllerAdvice.java
  backend/src/main/java/sullog/backend/member/error/exception/MemberException.java
  backend/src/main/java/sullog/backend/record/error/RecordControllerAdvice.java
  backend/src/main/java/sullog/backend/record/error/exception/RecordException.java
Labels: 예외

#7 [docs] rest docs 관련 작업
  backend/build.gradle
  backend/src/docs/asciidoc/api-doc.adoc
  backend/src/main/resources/static/docs/api-doc.html
  backend/src/test/java/sullog/backend/member/config/SecurityConfigTest.java
  backend/src/test/java/sullog/backend/member/controller/AuthControllerTest.java
Labels: 인프라

#10 [feat] 전통주 경험 저장 api 개발
  backend/build.gradle
  backend/src/docs/asciidoc/api-doc.adoc
  backend/src/main/java/sullog/backend/record/controller/RecordController.java
  backend/src/main/java/sullog/backend/record/dto/RecordSaveRequestDto.java
  backend/src/main/java/sullog/backend/record/entity/AlcoholIntensity.java
  backend/src/main/java/sullog/backend/record/entity/FlavorDetail.java
  backend/src/main/java/sullog/backend/record/entity/Record.java
  backend/src/main/java/sullog/backend/record/error/exception/ImageUploadException.java
  backend/src/main/java/sullog/backend/record/mapper/RecordMapper.java
  backend/src/main/java/sullog/backend/record/mapper/typeHandler/AlcoholIntensityTypeHandler.java
  backend/src/main/java/sullog/backend/record/mapper/typeHandler/FlavorTagListTypeHandler.java
  backend/src/main/java/sullog/backend/record/service/ImageUploadService.java
  backend/src/main/java/sullog/backend/record/service/RecordService.java
  backend/src/main/resources/mapper/record/RecordMapper.xml
  backend/src/test/java/sullog/backend/record/controller/RecordControllerTest.java
Labels: API

#20 aws s3 설정 추가
  backend/src/main/java/sullog/backend/record/service/ImageUploadService.java
  backend/src/main/java/sullog/backend/record/service/ImageUploadServiceAwsImpl.java
  backend/src/main/resources/application-aws.yml
  backend/src/main/resources/application.yml
Labels: 인프라

#15 [전통주 조회] 전통주 검색 및 조회 API
  backend/src/docs/asciidoc/api-doc.adoc
  backend/src/main/java/sullog/backend/BackendApplication.java
  backend/src/main/java/sullog/backend/alcohol/controller/AlcoholController.java
  backend/src/main/java/sullog/backend/alcohol/dto/request/AlcoholSearchRequestDto.java
  backend/src/main/java/sullog/backend/alcohol/dto/response/AlcoholInfoDto.java
  backend/src/main/java/sullog/backend/alcohol/dto/response/AlcoholInfoWithPagingDto.java
  backend/src/main/java/sullog/backend/alcohol/dto/response/PagingInfoDto.java
  backend/src/main/java/sullog/backend/alcohol/dto/table/AlcoholWithBrandDto.java
  backend/src/main/java/sullog/backend/alcohol/entity/Alcohol.java
  backend/src/main/java/sullog/backend/alcohol/mapper/AlcoholMapper.java
  backend/src/main/java/sullog/backend/alcohol/service/AlcoholService.java
  backend/src/main/resources/mapper/alcohol/AlcoholMapper.xml
  backend/src/test/java/sullog/backend/alcohol/controller/AlcoholControllerTest.java
Labels: API

#17 [feat] 전통주 최근 검색어 조회 API
  backend/src/docs/asciidoc/api-doc.adoc
  backend/src/main/java/sullog/backend/common/error/CommonControllerAdvice.java
  backend/src/main/java/sullog/backend/common/mapper/typehandler/StringListTypeHandler.java
  backend/src/main/java/sullog/backend/member/controller/MemberController.java
  backend/src/main/java/sullog/backend/member/dto/response/RecentSearchHistoryDto.java
  backend/src/main/java/sullog/backend/member/mapper/MemberMapper.java
  backend/src/main/java/sullog/backend/member/service/MemberService.java
  backend/src/main/java/sullog/backend/record/mapper/typehandler/FlavorTagListTypeHandler.java
  backend/src/main/resources/mapper/member/MemberMapper.xml
  backend/src/test/java/sullog/backend/member/controller/MemberControllerTest.java
Labels: API

#16 [회원관리] 회원 탈퇴 API
  backend/src/docs/asciidoc/api-doc.adoc
  backend/src/main/java/sullog/backend/member/controller/MemberController.java
  backend/src/main/java/sullog/backend/member/mapper/MemberMapper.java
  backend/src/main/java/sullog/backend/member/service/MemberService.java
  backend/src/main/resources/mapper/member/MemberMapper.xml
  backend/src/test/java/sullog/backend/member/controller/MemberControllerTest.java
Labels: API

#37 rest-docs api 문서 접근 시 jwt인증필터 타지 않도록 수정
  backend/src/main/java/sullog/backend/member/config/SecurityConfig.java
Labels: api문서

#32 json으로 변환 시 null이면 출력되지 않도록 어노테이션 추가
  backend/src/main/java/sullog/backend/common/entity/BaseEntity.java
Labels: ETC

#33 경험기록id기반 경험기록 단건 조회 api 추가
  backend/src/docs/asciidoc/api-doc.adoc
  backend/src/main/java/sullog/backend/common/config/MybatisConfig.java
  backend/src/main/java/sullog/backend/record/controller/RecordController.java
  backend/src/main/java/sullog/backend/record/dto/response/RecordDetailDto.java
  backend/src/main/java/sullog/backend/record/entity/Record.java
  backend/src/main/java/sullog/backend/record/mapper/RecordMapper.java
  backend/src/main/java/sullog/backend/record/mapper/typehandler/LocalDateTypeHandler.java
  backend/src/main/java/sullog/backend/record/service/RecordService.java
  backend/src/main/resources/mapper/record/RecordMapper.xml
  backend/src/test/java/sullog/backend/record/controller/RecordControllerTest.java
Labels: API

#44 jwt토큰 발행 시 memberId 기반으로 수정
  backend/src/main/java/sullog/backend/alcohol/controller/AlcoholController.java
  backend/src/main/java/sullog/backend/alcohol/service/AlcoholService.java
  backend/src/main/java/sullog/backend/member/config/oauth/OAuth2SuccessHandler.java
  backend/src/main/java/sullog/backend/member/controller/AuthController.java
  backend/src/main/java/sullog/backend/member/controller/MemberController.java
  backend/src/main/java/sullog/backend/member/dto/MemberDto.java
  backend/src/main/java/sullog/backend/member/entity/Member.java
  backend/src/main/java/sullog/backend/member/mapper/MemberMapper.java
  backend/src/main/java/sullog/backend/member/service/CustomOAuth2UserService.java
  backend/src/main/java/sullog/backend/member/service/MemberService.java
  backend/src/main/java/sullog/backend/member/service/OAuth2Attribute.java
  backend/src/main/java/sullog/backend/member/service/TokenService.java
  backend/src/main/resources/mapper/member/MemberMapper.xml
  backend/src/test/java/sullog/backend/member/controller/AuthControllerTest.java
  backend/src/test/java/sullog/backend/member/controller/MemberControllerTest.java
Labels: 인증

#48 "api" prefix 제거
  backend/src/main/java/sullog/backend/alcohol/controller/AlcoholController.java
  backend/src/main/java/sullog/backend/member/controller/MemberController.java
  backend/src/main/java/sullog/backend/record/controller/RecordController.java
  backend/src/test/java/sullog/backend/alcohol/controller/AlcoholControllerTest.java
  backend/src/test/java/sullog/backend/member/controller/MemberControllerTest.java
Labels: API

#49 restdocs adoc 문서 구성 수정
  backend/src/docs/asciidoc/api-doc.adoc
Labels: api문서

#51 healthcheck 요청처리 api 분리
  backend/src/main/java/sullog/backend/common/controller/HealthCheckController.java
  backend/src/main/java/sullog/backend/member/config/SecurityConfig.java
  backend/src/main/java/sullog/backend/member/config/jwt/JwtAuthFilter.java
  backend/src/main/java/sullog/backend/member/controller/AuthController.java
Labels: 인프라

#50 도수 느낌, 상세 플레이버 태그 enum 값을 테이블형태로 api 문서에 추가
  backend/src/docs/asciidoc/api-doc.adoc
  backend/src/test/java/sullog/backend/record/controller/RecordControllerTest.java
Labels: api문서

#57 path나 queryparameter로 memberId전달받는 api는 me로 변경
  backend/src/docs/asciidoc/api-doc.adoc
  backend/src/main/java/sullog/backend/record/controller/RecordController.java
  backend/src/main/java/sullog/backend/record/dto/RecordSaveRequestDto.java
  backend/src/main/java/sullog/backend/record/dto/request/RecordSearchParamDto.java
  backend/src/main/java/sullog/backend/record/mapper/RecordMapper.java
  backend/src/main/java/sullog/backend/record/service/RecordService.java
  backend/src/main/resources/mapper/record/RecordMapper.xml
  backend/src/test/java/sullog/backend/alcohol/controller/AlcoholControllerTest.java
  backend/src/test/java/sullog/backend/record/controller/RecordControllerTest.java
Labels: API
